<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation=" http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.1.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd">

    <!--<context:component-scan base-package="com.xblog.admin.module" />-->
    <!-- 默认的注解映射的支持 -->
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <!--<bean class="com.action.demo.archi.api.view.FastJsonpHttpMessageConverter">-->
                <property name="features">
                    <array>
                        <value>WriteMapNullValue</value>
                        <value>WriteNullStringAsEmpty</value>
                        <value>WriteNullListAsEmpty</value>
                        <!-- <value>WriteNullNumberAsZero</value>
                        <value>WriteNullBooleanAsFalse</value> -->
                        <value>NotWriteRootClassName</value>
                    </array>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- HandlerMapping -->

    <!-- HandlerAdapter -->


    <!-- ViewResolver -->

    <!-- 多视图解析 .json .xml -->
    <!-- <bean id="cnManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
        设置为true以忽略对Accept Header的支持
        <property name="ignoreAcceptHeader" value="true"/>
        用于关闭 /**/123.json 的支持 默认是true
        <property name="favorPathExtension" value="true"/>
        在没有扩展名时即: "/user/1" 时的默认展现形式
        <property name="defaultContentType" value="application/json"/>
        用于开启 /userinfo/123?format=json 的支持 默认是true
        <property name="favorParameter" value="true"/>
        扩展名至mimeType的映射,即 /user.json => application/json
        <property name="mediaTypes">
            <map>
                <entry key="xml" value="application/xml"/>
                <entry key="json" value="text/plain"/>
                <entry key="json" value="application/json"/>
            </map>
        </property>
    </bean>
    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="order" value="1" />
        <property name="contentNegotiationManager" ref="cnManager"/>
        <property name="defaultViews">
            <list>
              <ref bean="jsonView" />
              <ref bean="xmlViewer" />
            </list>
        </property>
    </bean>
    <bean name="jsonView"
        class="com.alibaba.fastjson.support.spring.FastJsonJsonView">
        <property name="charset">
            <value type="java.nio.charset.Charset">UTF8</value>
        </property>
    </bean> -->
    <!-- <bean id="xmlViewer"
        class="org.springframework.web.servlet.view.xml.MarshallingView">
        <constructor-arg>
          <bean class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
            <property name="classesToBeBound">
                <list>
                </list>
            </property>
          </bean>
        </constructor-arg>
        <property name="contentType" value="application/xml;charset=UTF-8" />
    </bean> -->
    <!-- <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
    <property name="messageConverters">
        <list>
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter" />
        </list>
    </property>
    </bean> -->
    <!--
        配置静态资源，直接映射到对应的文件夹，不被DispatcherServlet处理，3.04新增功能，需要重新设置spring-mvc-3.0.xsd
    -->
    <!--<mvc:resources mapping="/img/**" location="/img/" />
    <mvc:resources mapping="/js/**" location="/js/" />
    <mvc:resources mapping="/css/**" location="/css/" />
    <mvc:resources mapping="/html/**" location="/html/" />-->
    <!-- 定义跳转的文件的前后缀 ，视图模式配置-->
    <!--<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        &lt;!&ndash; 这里的配置我的理解是自动给后面action的方法return的字符串加上前缀和后缀，变成一个 可用的url地址 &ndash;&gt;
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>-->
    <!-- 总错误处理 -->
    <bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="defaultErrorView">
            <value>/error/error</value>
        </property>
        <property name="defaultStatusCode">
            <value>500</value>
        </property>
        <property name="warnLogCategory">
            <value>org.springframework.web.servlet.handler.SimpleMappingExceptionResolver</value>
        </property>
    </bean>
</beans>